.App {
  text-align: center;
  padding: 2rem;
  font-family: 'Open Sans', sans-serif;
  color: #242456;
}

.chat-container {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 0 auto;
  border: 1px solid #242456;
  border-radius: 5px;
  padding: 1rem;
  font-family: 'Lato', sans-serif;
  color: #242456;
}

.message-container {
  flex: 1;
  overflow-y: auto;
  margin-bottom: 1rem;
}

.message {
  background-color: #f2f2f2;
  border-radius: 5px;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  color: #4a49c9;
  font-family: 'Lato', sans-serif;
}

.input-container {
  display: flex;
}

input {
  flex: 1;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
}

textarea {
  flex: 1;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
  color: #4a49c9;
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
}

button {
  border: none;
  background-color: #4a49c9;
  color: white;
  border-radius: 0 5px 5px 0;
  padding: 0.5rem 1rem;
  cursor: pointer;
}