.App {
  text-align: center;
  padding: 2rem;
  font-family: 'Open Sans', sans-serif;
  color: #242456;
}

.chat-container {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 0 auto;
  border: 1px solid #242456;
  border-radius: 5px;
  padding: 1rem;
  font-family: 'Lato', sans-serif;
  color: #242456;
}

.message-container {
  flex: 1;
  overflow-y: auto;
  margin-bottom: 1rem;
}

.message {
  background-color: #f2f2f2;
  border-radius: 5px;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  color: #4a49c9;
  font-family: 'Lato', sans-serif;
}

.input-container {
  display: flex;
}

#logo{
  max-width: 200px;
  margin: auto;
}

/* Styling for the entire form container */
.question-form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-family: "Open Sans", sans-serif;
}

/* Styling for the question sections */
.question {
  margin-bottom: 20px;
  padding: 15px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
}

/* Styling for the question text */
.question p {
  font-weight: bold;
  margin-bottom: 10px;
  color: #242456;
  font-family: "Lato", sans-serif;

}

/* Styling for the textarea input */
.question textarea {
  width: 90%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
  resize: vertical;
  font-size: 1rem;
  max-height: 1.5rem;
}

/* Styling for the button group */
.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

/* Styling for the buttons */
.button-group button {
  width: 90%; /* Make the buttons wider */
  margin: 10px auto; /* Add spacing between buttons */
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
}


.button-group button[type="submit"] {
  background-color: #4a49c9;
  color: white;
}

.button-group button[type="submit"]:hover {
  background-color: #242456;
}

.button-group button[type="button"] {
  background-color: #ddd;
  color: #333;
}

.button-group button[type="button"]:hover {
  background-color: #ccc;
}
